@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f3f6;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #f3f3f6;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.transition-tooltip {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-duration: 1000ms;
}

.bg-color {
  background-color: rgb(0 109 119);
}

.fg-color {
  background-color: rgb(131 197 190);
}

.ac-color {
  background-color: rgb(215, 215, 215);
}

.button-color {
  background-color: rgb(118, 93, 211);
}

.slider-color {
  accent-color: rgb(118, 93, 211);
}

.circle-color {
  border-color: rgb(118, 93, 211);
}
